@import '../../Variables.scss';

.inputs-component {
  padding: 20px 0;

  .input-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
  }
  
  input, button {
    height: 38px;
    margin: 10px 0;
    background: $grey2;
    border: none;
  }

  input {
    font-size: 20px;
    color: $grey5;
    padding-left: 9px;
  }

  ::placeholder {
    color: $grey3;
  };

  button {
    background-color: $green1;
    color: $grey5;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    height: 48px;
  }

  button:hover {
    background-color: $green2;
  }
}

