@import '../../Variables.scss';

.header-component {
  background-color: $grey5;
  padding: 5px 0 3px;
  position: relative;

  h1 {
    color: $green1;
    text-align: center;
    line-height: 1;
    margin: 0;
    transition: color .2s ease-in-out;
  }

  h1:hover {
    color: $green2;
  }

  p {
    @include match-h5;
    color: $grey1;
    margin: 0;
  }
}

.title-holder {
  display: flex;
  margin: 36px auto;
  width: 1000px;
  justify-content: space-around;

}

.header-right {
  position: absolute;
  right: 15px;
  top: 12px;
}

.welcome-span {
  @include match-h5;
  font-weight: 900;
}

