/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 16px;
  font-family: "freight-text-pro", sans-serif;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "chalet-london-sixty", sans-serif;
  color: #6d6e71;
  line-height: 1.3; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 12px; }

p {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 900; }

/***  MIXINS  ***/
.header-component {
  background-color: #6d6e71;
  padding: 5px 0 3px;
  position: relative; }
  .header-component h1 {
    color: #a8ed8a;
    text-align: center;
    line-height: 1;
    margin: 0;
    transition: color .2s ease-in-out; }
  .header-component h1:hover {
    color: #3cd52e; }
  .header-component p {
    font-family: "chalet-london-sixty", sans-serif;
    font-size: 16px;
    color: #f1f2f2;
    margin: 0; }

.title-holder {
  display: flex;
  margin: 36px auto;
  width: 1000px;
  justify-content: space-around; }

.header-right {
  position: absolute;
  right: 15px;
  top: 12px; }

.welcome-span {
  font-family: "chalet-london-sixty", sans-serif;
  font-size: 16px;
  font-weight: 900; }
