@import '../../Variables.scss';

.header-component {
  background-color: $grey4;
  padding: 5px 0 3px;
  position: relative;
  border-bottom: 6px solid $grey3;

  h1 {
    color: $green1;
    text-align: center;
  }

  p {
    @include match-h5;
    color: $grey1;
    margin: 0;
  }
}

.header-right {
  position: absolute;
  right: 15px;
  top: 12px;
}

.title-span {
  @include match-h1;
  color: $green2;
}

.welcome-span {
  @include match-h5;
  font-weight: 900;
}

